*{
	font-family: 'Baloo';
}
.top{
	background-image: url(image/banner1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.top h1{
	text-align: center;
	font-family: 'Abril';
	color: white;
}
#head{
	width: 100%;
	height: auto;
}
.first{
	width: 100%;
	height: auto;
}
.bt{
	border:none;
	background: transparent;
}
.m1 h1{
	font-family: 'Abril';
	text-align: center;
	color: white;
}
.m1{
	background-image: url(image/banner4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px 100px;
}
.m1 img{
	width: 490px;
	height: 300px;
	margin-bottom: 10px;
}
.m1 h3{
	font-family: 'Abril';
	color: white;
}
.m1 p{
	color: white;
}
.foot{
	background-image: url(image/banner3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	text-align: center;
	color: lightblue;
	padding: 0px 100px;
}
.ft{
	margin-top: 50px;
}
#myBtn{
	background: transparent;
	border: none;
	margin-left: 60px;
	color: lightblue;
}
#more1{
	display: none;
}
#more2{
	display: none;
}
#more3{
	display: none;
}
#more4{
	display: none;
}
#more5{
	display: none;
}
#more6{
	display: none;
}
#more7{
	display: none;
}
#more8{
	display: none;
}